.bg{
    /* position: relative; */
    margin: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background: url(../../image/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;       
}

.bg-shade{
    position: relative;
    background-color: rgba(0,0,0, .7)	;
    height: 100vh;
}

.main{
    margin-top: 0;
    position: absolute;
}

.top-nav{
    position: absolute;
    top: 30px;
    left: 0; 
    background-color: transparent;
    width: 100%;
}

.items{
    color: #ffffff;
    font-weight: 500;
    margin-right: 3%;
}

.items:hover{
    color: #F9A51A;
}

.logo img{
    width: 120px;
}

.search{
    border:2px solid white ;
    border-radius: 5px;
    width: 26%;
    height: 44px;
    margin-right: 3%;
    background-color:rgba(255, 255, 255, 0.5);;
}

::placeholder{
    color: white;   
    padding-left: 30px;
    background-image: url(../../image/searchicon.png);
    background-repeat: no-repeat;
    font-size: 17px;
}

.search-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 23%;
}
/* ------------------------------------ */
